@import '/src/index.css';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
}
#questionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: var(--main-color);
  width: 75%;
  height: 75vh;
  box-shadow:  0.5em 0.5em 0.5em rgba(0,0,0,0.22);
  border-radius: 0.5em;;
}
button {
  width: fit-content;
  background-color: var(--main-color);
  color: var(--black);
  border-style: none;
  border-radius: 0.4em;
  padding: 0.5em;
}
button:active {
  background-color: var(--main-color-darker);
}