.nav-header {
  background-color: yellow;
}

.nav-header nav ul {
  list-style: none;
  margin: 0;
}

.nav-header nav ul li {
  display: inline;
}

.nav-header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  font-weight: bold;
  padding: 1em;
}

.nav-header nav ul li a.active {
  background-color: white;
}